table {
    width: 100%;
    border-collapse: collapse; 
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4a6fa5;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tbody tr:nth-child(odd) {
    background-color: #fff; 
}